@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e3f2fd;
}
button {
  cursor: pointer;
}
.container {
  width: 850px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 30px 35px 35px;
  border-radius: 10px;
}
.container.disable :where(.editor-panel, .reset-filter, .save-img) {
  opacity: 0.6;
  pointer-events: none;
}
.container h2 {
  font-size: 22px;
  font-weight: 500;
}

.container .wrapper {
  display: flex;
  margin: 20px 0;
  min-height: 335px;
  gap: 1rem;
}
.wrapper .editor-panel {
  padding: 15px 20px;
  border: 1px solid #ccc;
}

.editor-panel .title {
  display: block;
  font-size: 16px;
}
.editor-panel .options,
.controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.editor-panel button {
  min-height: 40px;
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 8px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #aaa;
}
.editor-panel button:hover {
  background-color: #f5f5f5;
}
.editor-panel .filter button,
.rotate button {
  width: calc(100% / 2 - 4px);
}
.active {
  color: #fff !important;
  background-color: #5372f0 !important;
  border-color: #5372f0 !important;
}
.filter .slider .filter-info {
  display: flex;
  justify-content: space-between;
  color: #464646;
  font-size: 14px;
}
.filter .slider input {
  width: 100%;
  height: 5px;
  accent-color: #5372f0;
}
.editor-panel .rotate {
  margin-top: 17px;
}

.preview-img img {
  max-width: 490px;
  max-height: 335px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.controls button {
  padding: 0.75rem 1.25rem;
  color: white;
  cursor: pointer;
  font-size: 18px;
}
.controls .reset-filter {
  color: #6c757d;
  border: 1px solid #6c757d;
}
.controls .choose-img {
  background-color: #6c757d;
  border: 1px solid #6c757d;
}
.controls .save-img {
  color: #5372f0;
  border: 1px solid #5372f0;
}
